body {
  background-image: url(img/pohon.jpg);
  background-size: cover;
  background-position: unset;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1 {
  position: relative;
  margin: auto auto;
  font-size: 5rem;
  font-weight: 700;
  letter-spacing: 2px;
}

.btn-sign-up {
  padding: 0.7rem 3rem;
  background-color: transparent;
  border-radius: 30px;
  transition: 0.4s;
}

.btn-sign-up:hover {
  background-color: rgb(67, 63, 63);
  color: transparent;
}

a {
  text-decoration: none;
}

.halaman {
  font-size: 2rem;
  display: flex;
  list-style: none;
}
