h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500px;
  color: rgb(84, 128, 128);
}

body {
  font-family: 'Arial Narrow', Arial, sans-serif;
  line-height: 50px;
  color: #e2e791;
  background-image: url(tactile_noise.webp);
  letter-spacing: 2px;
}

tr:hover {
  background-color: #e2e791;
  color: black;
}

h2 {
  letter-spacing: 10px;
}

.home:hover {
  font-family: 'Gill Sans', sans-serif;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: rgb(84, 128, 128);
}
