@font-face {
  font-family: la belle aurore;
  src: url(font/LaBelleAurore.ttf);
}

h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 500px;
  color: #548080;
}

body {
  font-family: 'Arial Narrow', Arial, sans-serif;
  line-height: 50px;
  color: #e2e791;
  background-image: url(tactile_noise.webp);
  letter-spacing: 2px;
}

tr:hover {
  background-color: #e2e791;
  color: black;
}

h2 {
  letter-spacing: 10px;
}

.home:hover {
  font-family: la belle aurore;
  font-size: 30px;
}

a {
  font-family: la belle aurore;
  text-decoration: none;
  color: #e2e791;
}

.table-container {
  overflow: auto;
}
